*/node_modules/
*.settings
*.classpath
*.project
*.env
*.metadata
*.vscode
*.out
*.cab
*.msi
*.msm
*.msp
*.map
src/*.exe
src/*.o
*.o
*.exe
*.sublime-p*
*.sublime-w*
*.bk*
hyperfine/**
benchmark/**
*.xml
*.idea